


header {
    background-color:#4ABDAC;
    color: white;
    padding: 20px;
    grid-area: header;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    }
    
    main {
    background-color: darkblue;
    color: white;
    grid-area: main;
    } 
    nav {
        background-color:#565656;
        color: black;
        grid-area: nav;
        }
    aside {
    background-color:#DFDCE3;
    grid-area: aside;
    font-family: cursive;
    font-size: large;
    justify-items: center;
    }
    footer {
    background-color: black;
    color: white;
    grid-area: footer;
    }
    
   

    