@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


li, a, button{
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#ecf0f1;
    text-decoration: none0;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links{
    list-style: none
}
.nav_links li a{
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover{
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color:rgba(0,136,169,1) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:rgba(0,136,169,0.8);
}


header {
    background-color:#062F4F;
    color: white;
    padding: 30px 10%;
    grid-area: header;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    main {
    background-color: #062F4F;
    color: white;
    grid-area: main;
    } 
    nav {
        background-color:#062F4F;
        color: black;
        grid-area: nav;
        }
    aside {
    background-color:#565656;
    grid-area: aside;
    font-family: cursive;
    font-size: large;
    align-items: center;
    }
    footer {
    background-color: #062F4F;
    color: white;
    grid-area: footer;
    }

    .POP{
        font-weight: bolder;
        font-size: larger;
        }
        
        form{
            display: grid;
            width: 100%;
            grid-template-columns: 20% 20%;
            align-items: center;
        }

        .img-me{
            width: 300px;
        }
    #container{
        width:900px;
        margin:0 auto;
    }
    .colly, .colly2, .colly3{
        width:280px;
        float:left;
        margin:10px;
        
    }
    
   

    