.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
     border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
    }

    .shownav:before {
        content: '';
         position: absolute;
         width: 1.3em;
         margin-top: 0.3em;
         border-top: 0.2em solid #fff;
        }

         /* Sets the background to red when the body
isn't targeted */
body {
    background-color: red;
    }
    /* Sets the background to green when the body
    is targeted */
    body:target {
    background-color: green;
    }
    /*
When the target isn't set, hide the "off"
button and show the "on" button
*/
#clicked .on {display: block;}
#clicked .off {display: none;}
/*
When the target is set, hide the "on"
button and show the "off" button
*/
#clicked:target .on {display: none;}
#clicked:target .off {display: block;}

#clicked:target nav {display:block;}

nav {
        
    display: none;
    background-color: yellow;
    position: fixed;
    font-size: larger;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
   
}
